#content {
   width: 100%;
   height: 100%;
}

#box {
   background-color:white;
   position: relative;
   top: 15%;
   margin-left: auto;
   margin-right: auto;
   height: 350px;
   width: 445px;
   padding: 40px 30px;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

#logo>img {
   height: 25px;
}

.header {
   font-size: 1.5em;
   font-weight: 600;
   margin-top: 20px;
}

.error {
   padding-top: 10px;
   font-family: inherit;
   font-size: inherit;
   color: #e81123;
}

.hidden {
   display: none;
}

input {
   font-family: inherit;
   font-size: inherit;
   width: 100%;
   height: 36px;
   margin-top: 20px;
   border: none;
   border-radius: 0;
   border-bottom: 1px rgba(0, 0, 0, 0.6) solid;
}

input.red {
   border-color: #e81123;
}

input:focus {
   background-color: white;
   outline: none;
}

#buttons {
   margin-top: 60px;
   text-align: right;
}

.btn {
   position: relative;
   font-weight: 400;
   font-family: inherit;
   font-size: .9375rem;
   cursor: pointer;
   text-align: center;
   display: inline-block;
   height: 30px;
   width: 110px;
}

.next-btn {
   color: white;
   background-color: #0072C6;
}

.back-btn {
   color: #1b1b1b;
   background-color: rgba(0, 0, 0, 0.2);
}

.btn-text {
   margin: 0;
   padding-top: 4px;
}

.next-btn:hover {
   background-color: #045a97;
}

.back-btn:hover {
   background-color: rgba(0, 0, 0, 0.331);
}

#no-access {
   width:fit-content;
   display: block;
   text-decoration: none;
   color: #0072C6;
   padding-top: 25px;
   cursor: pointer;
}

#no-access:hover {
   color: #033960;
   text-decoration: underline;
}

.subtext {
   font-weight: 400;
   font-size: .8125rem;
}

@media (width<600px) {
   #content{
      padding-left:5%;
      padding-right:5%;
   }
   #box {
      top:10%;
      padding-left: 10px;
      padding-right: 10px;
      width: 100%;
   }
}